<div class="d-flex flex-fill flex-column bg-c-panel py-4 h-100">
  <div class="d-flex flex-fill gap-3 align-items-center justify-content-center  p-sm-4">

    <figure>
      <img [src]="logo" alt="logo">
    </figure>


    <div class="d-flex flex-column justify-content-center
    border-radius-app flex-fill bg-c-container h-100
                  shadow container-tel-login p-5">


<!--      <h1 class="fw-bold c-primary">{{nombreApp}}</h1>-->
      <p class="title-primary">Iniciar sesión</p>


      <app-form></app-form>

    </div>



  </div>


</div>
